/* Formatting of navigation bar */

li{
  display: flex;
  border: 3px solid #92D6FB;
  background-color: #3CFFC3;
}

a {
  padding: 12px;
}

/* Change the link color to #91FFDD (light teal) on hover */
li a:hover {
    background-color: #91FFDD;
}

.active {
    background-color: #05DB84;
}

/*formatting body of home page*/
p{
  color: #3CFFC3;
   background-color: grey;
}
